<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div class="footer" th:fragment="footer">
		<!--
        <footer class="page-footer font-small cyan darken-3">
            <div class="footer-copyright text-center py-3">
                2023 Spring Shopping Mall Project
            </div>
        </footer>
        -->
        <footer>
        <div id="footer_wrap">
            <ul id="provision">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">인재채용</a></li>
                <li><a href="#">제휴제안</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
            </ul>
            <ul id="company_info">
                <li>바닐라 주식회사 . 대표 김범준 사업자등록번호 : 123-45-678942</li>
                <li>사업장소재지 : 서울특별시 종로구 인사동길 12 대일빌딩 7층, 15층</li>
                <li id="copyright">Copyright ⓒ VANILLA INC.All Rights Reserved. </li>
            </ul>
        </div>
        <div id="contact">
            <ul id="customer_center">
                <li>고객센터 02-720-1563</li>
                <li>운영시간 평일 11:00 - 18:00 (토.일 공휴일 휴무)</li>
                <li>점심시간 평일 13:00 - 14:00</li>
                <li><a href="#">
                    <img src="images/FAQ.jpg" width="150">
                </a></li>
                <li>
                    <img src="images/insta.PNG">
                    <img src="images/kakao.png">
                    <img src="images/facebook.jpg">
                </li>
            </ul>
        </div>
        <div id="footer_fix">
            <ul>
                <li><img src="images/bottom_fix.PNG"></li>
            </ul>
        </div>
    </footer>
    </div>
</html>