<!DOCTYPE html>
<html lang="en" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
 <!-- 본문 영역 -->
  <main>
	  <!--
   <div class="banner">
            <ul id="slider_container">
            <li class="slider"><img src="images/banner1-1.png"></li>
            <li class="slider"><img src="images/banner1-2.png"></li>
            <li class="slider"><img src="images/banner1-3.png"></li>
            </ul>
      </div>
      -->
        <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
           
            
            <ul class="section_name">
                <li class="title">New Arrivals</li>
                <li>신상품</li>
              </ul>
        
              <div id="panorama_items">
                <div class="item_box">
                  <ul>
                    <a href="#">
                      <li><img src="images/new adidas.PNG"></li>
                      <li>(W) 아디다스 가젤 인도어 블리스 핑크</li>
                      <li>195,000원</li>
                    </a>
                  </ul>
                </div>
                <div class="item_box">
                  <ul>
                    <a href="#">
                      <li><img src="images/new bottom.PNG"></li>
                      <li>스톤 아일랜드 나일론 메탈 스카이 블루</li>
                      <li>245,000원</li>
                    </a>
                  </ul>
                </div>
                <div class="item_box">
                  <ul>
                    <a href="#">
                      <li><img src="images/new holder.PNG"></li>
                      <li>루이비통 카드 홀더 모노그램</li>
                      <li>403,000원</li>
                    </a>
                  </ul>
                </div>
                <div class="item_box">
                  <ul>
                    <a href="#">
                      <li><img src="images/new watch2.PNG"></li>
                      <li>롤렉스 서브마리너 데이트</li>
                      <li>17,500,000원</li>
                    </a>
                  </ul>
                </div>
              </div>
              <div class="clear"></div>

              <div class="banner2">
                <ul id="slider_container2">
                <li class="slider2"><img src="images/banner2-1.PNG" width="100%" height="50%"></li>
               
                </ul>
          </div>
          
            <div id="youtube">
                <ul class="section_name">
                    <li class="title">Fashion Youtube</li>
                </ul>
                <iframe width="941" height="529" src="https://www.youtube.com/embed/6SRr8qSL4lw?autoplay=1&mute=1" 
                title="Louis Vuitton Pre-Fall 2023 - Seoul" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>
            </div>



            <div id="best">
            <ul class="section_name">
                <li class="title">베스트 리뷰</li>
            </ul>
                <ul id="review">
                    <li class="item"><img src="images/review.PNG"></li>
                    <li class="item"><img src="images/review2.PNG"></li>
                    <li class="item"><img src="images/review3.PNG"></li>
                    <li class="item"><img src="images/review4.PNG"></li>
                </ul>
             </div>

            <div id="bal">
                
                <ul id="BALENCIAGA">
                    <img src="images/balenciaga.PNG" width="100%">
                </ul>

                <!-- <ul id="section_name">
                    <li class="title">트렌드하고 유니크한 BALENCIAGA</li>
                </ul> -->
            </div>

            <ul class="section_name">
                <li class="title">BALENCIAGA</li>
                <li>트렌디하고 유니크한 BALENCIAGA</li>
              </ul>
        
              <div id="panorama_items">
                <div class="item_box">
                  <ul>
                    <a href="#">
                      <li><img src="images/balenciaga1.PNG"></li>
                      <li>발렌시아가 러너 스니커즈 블랙 화이트</li>
                      <li>1,300,000원</li>
                    </a>
                  </ul>
                </div>
                <div class="item_box">
                  <ul>
                    <a href="#">
                      <li><img src="images/balenciaga2.PNG"></li>
                      <li>발렌시아가 아레나 램스킨 메탈릭 XS 플랩백 실버</li>
                      <li>1,600,000원</li>
                    </a>
                  </ul>
                </div>
                <div class="item_box">
                  <ul>
                    <a href="#">
                      <li><img src="images/balenciaga3.PNG"></li>
                      <li>발렌시아가 x 크록스 러버 부츠 블랙</li>
                      <li>800,000원</li>
                    </a>
                  </ul>
                </div>
                <div class="item_box">
                  <ul>
                    <a href="#">
                      <li><img src="images/balenciaga4.PNG"></li>
                      <li>23SS 발렌시아가 캠페인 라지 핏 티셔츠 카키</li>
                      <li>600,000원</li>
                    </a>
                  </ul>
                </div>
              </div>
              <div class="clear"></div>

       
       
       
        </main>
</div>

</html>